.container .error{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.container .error .errortitle{ text-align: center; }
.container .error .errortitle h1{ font-size: 5rem; }
.container .error .errortitle h3{ font-size: 1.5rem; }
.container .error .bono{ margin-top: 30px; }
.container .error .tear{
	width: 25px;
    height: 25px;
    background-color: #9AD4F3;
    position: absolute;
    top: 33%;
    left: 47.5%;
    border-radius: 50%;
}
.container .error .no2{
	top: 36%;
    left: 46.5%;
    width: 30px;
    height: 30px;
}
.container .error .no3{
	top: 41%;
    left: 46%;
    width: 35px;
    height: 35px;
}
.container .error .errorBack{
	margin-top: 50px;
    font-size: 1.5rem;
    width: 170px;
    height: 50px;
    border: 1px solid #4D8FC3;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .error .errorBack:hover {
	background-color: #4D8FC3;
	color: white;
}