@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


::placeholder {
    color: #CACCCD;
    text-align: center;
}

.textlogin {
    height: 153px;
    width: 80%;
    border: 2px solid transparent; /* 초기에는 투명한 테두리 */
    border-radius: 20px;
    font-size: 50px;
    margin: 30px;
    transition: background-color 0.3s ease; /* 배경색 변화에 대한 전환 효과 */

    /* 호버 효과 */
    &:hover {
        background-color: #00508d; /* 호버시 배경색을 파란색으로 변경 */
    }
}

.button {
    height: 153px;
	width: 80%;
	border-radius: 20px;
    font-size: 50px;
    margin: 30px;
    color: #FFFFFF;
    background-color: #4D8FC3;
    
}

.button:active {
    background-color: #61B1F0; /* 버튼이 눌렸을 때의 배경색을 변경합니다. */
}

.errtext {
    font-size: 28px; /* 초기에 설정할 폰트 크기 */
    animation: errorTextAnimation 2s ease-in-out; /* 애니메이션 적용 */
    position: absolute; /* 다른 요소들과 상관없이 위치를 고정시킵니다. */
    top: 50%; /* 부모 요소의 중앙에 배치하기 위해 상단을 50%로 설정합니다. */
    left: 50%; /* 부모 요소의 중앙에 배치하기 위해 왼쪽을 50%로 설정합니다. */
    transform: translate(-50%, -50%); /* 요소를 중앙으로 이동시킵니다. */
    color: #CACCCD;
}




@keyframes errorTextAnimation {
    0% {
        font-size: 27px; /* 시작 시 폰트 크기 */
    }
    50% {
        font-size: 29px; /* 중간에 커진 폰트 크기 */
    }
    100% {
        font-size: 28px; /* 다시 초기로 돌아오는 폰트 크기 */
    }
}