*{
	margin: 0;
	padding: 0;
}
/* ν—¤λ” */
header{
	width: 100%;
	height: 90px;
	background-color: white;
}
header .top{
	display: flex;
	justify-content: space-around;
	height: 90px;
}
header .top a{
	font-size: 3rem;
	color: #081012;
	margin: 0;
}
/* header .top .cog { display: inline-block; } */
#admin{
	margin-top: 10px;
/* 	display: inline-block; */
/* 	position: relative; */
}
header .top .cog #admin:hover{
/* 	transform-origin: 50% 50%; */
/* 	top : 25px; */
/* 	left: 23px; */
	animation: cogRotation 5s linear infinite;
}
@keyframes cogRotation{
	0% { transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

/* ν‘Έν„° */
footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 400px;
}
footer .underbar{
	display: flex;
	justify-content: space-around;
	height: 100px;
	background-color: white;
}
footer .underbar a{
	color: white;
	font-size: 3rem;
	text-align: center;
	margin: 20px 0 20px;
}
footer .underbar a img{
	width: 120px;
	height: 40px;
}
footer .banne{
	height: 300px;
	background-color: black;
}
footer .banner p{}
