@charset "UTF-8";
.date-content li{
	list-style: none;
/* 	position: absolute; */
/* 	top: 50%; */
/* 	left: 50%; */
/* 	transform: translate(20%,20%); */
/* 	width: 30px; */
/* 	height: 30px; */
/* 	background-color: pink; */
}

.blink {
	animation: blinker 0.5s linear infinite alternate;
	animation-fill-mode: forwards; 
}    
@keyframes blinker {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/* 상위 영역 */
.container .mainTitle{
    list-style-type: none;
	display: flex;
}
.container .mainTitle .Line {
	height : 0.5px;
	width: 30%;
    background-color : lightgray;
    margin-top: 3%;
}
.container .mainTitle .title {
    font-size: 3rem;
    font-weight: bold;
    width: 40%;
}

/* 이동버튼 */
.container .months { }
.container .months .select{
	height : 20%;
	display: flex;
	justify-content: center;
    border: 3px solid lightgray;
    margin: 50px 0 80px;
    padding: 50px;
    column-gap: 280px;
    border-radius: 10px
}
.container .months .select .selectbtn{
	border: none;
	color: white;
	background-color: #4D8FC3;  /* 메인 컬러로 지정 */
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 2rem;
}
.container .months .select .year{
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 10px;
}

/* 컨텐츠 위치 지정 */
.container .content{
/* 	height : 60%; */
	display: flex;
	justify-content: space-around;
	padding: 0 25px 0 25px;
}

/* 달력 */
.container .content .calendar{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	border: 3px solid lightgray;
	border-radius: 10px;
	position: relative;
	left: -51px;
}
.container .content .calendar .titleMonth{
	font-size: 2rem;
	text-align: center;
	color: #4D8FC3;
	font-weight: bold;
	margin-bottom: 30px;
}
.container .content .calendar .myMonth{
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 20px;
}
.container .content .calendar .Tcalendar{
	width: 400px;
	height: 400px;
	text-align: center;
	font-size: 1.3rem;
}

.container .content .calendar .Tcalendar td {
	position: relative;
	padding: 0;
/* 	width: 54.781px; */
	height: 60px;	
}

.container .content .calendar .Tcalendar .date {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
	border-radius: 50%;
	background-color: lightgray;
	width: 36px;
	height: 36px;
	box-sizing: border-box;
	z-index: -1;
}

.count{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(25%,25%);
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	font-size: 1rem;
	cursor: pointer;
}

.container .content .calendar .Tcalendar .date + span {
	color: #4D8FC3;
}

.container .content .calendar .Tcalendar .week{
	background-color: #4D8FC3;
	color: white;
	font-weight: bold;
}
/* .container .content .calendar .Tcalendar .sunday{ */
/* 	color: red; */
/* } */
/* .container .content .calendar .Tcalendar .satday{ */
/* 	color: blue; */
/* } */

/* 일정 */
.container .content .info{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 400px;
}
.container .content .info .infoTitle{
	margin-bottom: 20px;
	font-size: 1.2rem;
	width: 120px;
	height: 40px;
	border: 1px solid #4D8FC3;
	color: #4D8FC3;
	border-radius: 50px;
	text-align: center;
	padding: 5px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .info .Tinfo{
	font-size: 1.2rem;
	width: 400px;
}
.container .content .info .Tinfo .infoDay{
	width: 200px;
	text-align: center;
	font-weight: bold;
}
.container .content .info .Tinfo .infoContent{
	width: 250px;
	text-align: left;
	margin: 50px;
}
.Tinfo tr td{
	padding: 20px;
	margin-bottom: 50px;
}