@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {text-decoration: none; color: black;}
a:hover {font-weight: bold; }
header {
	border-bottom: 1px solid black;
	height: 40px;
}
header nav {}
header nav ul {
	list-style-type: none;
	display: flex;
	column-gap: 20px;
	height : 80px;
}
header nav ul li {
	height: 100%;
}
header nav ul li a {
	height: 100%;
}
	
/* footer { */
/* 	width: 100%; */
/* 	height: auto; */
/* 	background-color: black; */
/* } */
/* footer p{ */
/* 	padding: 30px; */
/* 	margin: 0; */
/* 	color: white; */
/* 	text-align: center; */
/* } */

.container{
	width: 960px;
	margin: 50px auto;
	padding: 50px 20px;
	border: 1px solid black;
}

/* 공통 레이아웃 */
.container { 
	width: 984px;
	height: 900px;
	margin: 0 auto; 
}

.flex{display:flex}
.flex.j-start{justify-content:flex-start}
.flex.j-end{justify-content:flex-end}
.flex.j-center{justify-content:center}
.flex.j-space-between{justify-content:space-between}
.flex.j-space-around{justify-content:space-around}
.flex.a-center{align-items:center}
.flex.column-reverse{flex-direction:column-reverse}



.txt-center { text-align: center; }
figcaption {
    font-size: x-large;
    font-weight: 900;
}

img {width:220px; height: 220px;}

.box {
    border: 1px solid lightgray;
    border-radius: 7px;
}

table {
    width: 55%;

}

.tblH.ty3 {
    border: 1px solid lightgray;
    border-radius: 3px;
    border-collapse: collapse;
    border-top: 1px solid rgba(211, 211, 211, 0.9);
    border-left: none;
    border-right: none;
}

th, td {
    border-bottom: 1px solid rgba(211, 211, 211, 0.9);
    border-left: none;
    padding: 12px;
  }
  
th:first-child, td:first-child {
    border-left: none;
}

thead tr th {
	background-color: rgba(211, 211, 211, 0.267);
	
}
  
.total.ty1 {
	background-color: rgba(211, 211, 211, 0.267);
}
  
.total.ty1, .total.ty2{
	/* color: #071592; */
    /* font-weight: 550; */
    text-align: center;
    
}


.his{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.title{
	text-align: center; 
}
/* 공통 레이아웃 */