
@font-face{
	font-family: 'KIMM';
	src: url('../font/KIMM.ttf') format('truetype');
}



body{
	font-family: 'KIMM', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}


.search{
	width: 500px;
	text-align: center;
	margin: auto;
	position: relative;
	height: 80px;
	top: -30px;
}

.form-control{
	font-size: 2rem;
}

.searchbtn{
	border-radius: 30px 30px 30px 30px;
	font-size: 1rem;
	width: 4rem;
	height: 2rem;
	background-color: rgba(0, 81, 201, 0.33);
	border: thin;
	cursor: pointer;
	box-shadow: 0px 2px 2px 3px lightgray;
}

.Ntable{
	width: 100%;
	height: 686px;
	position: static;
}



.InnerContainer {
	color: black;
	border: 2px;
	background-color:rgba(255, 255, 255, 1);
	width:984px;
	height:840px;
	position:static;
	left:22px;
	top:177px;
		
}

.InnerHeader{
	background-color: lightblue;
	height: 40px;
	top: 15%;
}


td{
	text-align: center;
	height: 80px;
}


#keyboardzone {
    width: 800px;
    height: 400px;
    position: fixed;
    display: block;
    background: #bfbfbf;
   	left: 50%;
   	transform: translateX(-50%);
    bottom: -400px;
    border-radius: 15px;
    transition: bottom 0.5s;
    z-index: 9999;
}

#keyboardzone * {
    transition: all 0ms;
    
    
}
#keyboardzone table th {
    border: 1px solid #2f2f2f3d;
    display: table-cell;
    vertical-align: middle;
    background-color: #eeeeeec4;
    transition: background-color 500ms;
    box-shadow: 0 0 7px 0px #00000033;
    border-radius: 5px;
    
    
}
#keyboardzone table th:active {
    background-color: #ffffff;
    transition: background-color 0ms;
}


