@charset "UTF-8";
* {margin: 0; padding: 0; font-family: 'KIMM';}


/* fonts.css */
@font-face {
	font-family: 'KIMM';
	src: url('../font/kimm.ttf') format('truetype');
}

body {
	font-family: 'KIMM', sans-serif;
	background-color: white;
}

div#index-pw {
	font-family: 'none';
}

a:link{text-decoration: none;}
/* a:visited,a:active{color: #5d8dbf;} */


/* 전체 영역 */
.container {
	position: relative;
	width: 1440px;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

/* admin 메인 */
.container-head {
	display:flex;
	justify-content: ceneter;
}

.container-head img {
	width: 139px;
	height: 78;
}

.container-head .item {
	text-align: center;
}

.container-head .item p {
	padding: 7px;
	padding-top: 48px;
	font-size: 10px;
}


.container-menu {
	display:flex;
	margin-top: 7%;
	align-items: center;
	justify-content: space-between;
}

.container-menu .menu-card {
	width: 336px; 
    height: 543px;
    background-color: white; 
	border: 1px solid #5d8dbf;
	border-radius: 20px;
	text-align: center;

}

.container-menu .menu-card:hover {
	width: 336px; 
    height: 543px;
    background-color: #dce9f8; 
	border: 1px solid #5d8dbf;
	border-radius: 20px;
	text-align: center;
}

.container-menu .menu-card img {
	margin-top: 40px;
	margin-bottom: 66px;
	width: 336px;
	height: 226px;
}


.container-menu .menu-card span {
	margin-top: 74px;
	font-size: 45px;
}

/* 글목록 페이지*/
.container-head .head-left {
	display: flex;
	justify-content: flex-start;
}

.container-head .head-left img{
	width: 139px;
	height: 78;
}
.container-head .head-left .item {
	text-align: center;
}

.container-head .head-left .item p {
	width: 160px;
	padding: 7px;
	padding-top: 48px;
	font-size: 10px;
}

.container-head .head-right {
	width: 100%;
	display : flex;
	justify-content: flex-end;
}
.container-head .head-right .admin-directBtn {
	display: inline-block;
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	align-content: center;
}

.container-head .head-right .admin-directBtn:hover {
	transform: translateY(5px);
	border: 2px solid #5d8dbf;
}
/* 글목록 보드 */
.container-board .rwd-table {
	display: flex;
	justify-content: center;
}

.container-board table {
	margin: 30px 0px;
	text-align: center;
	width: 100%;
	
}

.container-board table th {
	padding: 18px 0px;
	border-bottom: 1px solid #aaa;
}

.container-board table td {
	padding: 12px 0px;
	border-bottom: 1px solid #aaa;
}

.container-boardBottom {
	display: flex;
	justify-content: flex-end;
}

.container-boardBottom .bottom-btn {
	display: inline-block;
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	align-content: center;
}

.container-boardBottom .bottom-btn:hover {
	transform: translateY(-5px);
}

.container-insertForm {
	text-align: -webkit-center;
}

.container-insertForm .item {
	display:flex;
	justify-content: space-between;
	border:1px solid black;	
}

.container-insertForm .u-r-item {
	display:flex;
	justify-content: space-between;
	border:1px solid black;	
	width: 50%;
}
.container-insertForm .u-r-item .sub-item {
	width: 30%;
}

.container-insertForm .u-r-item td {
	width: 300px;
}

.container-insertForm .u-r-item .sub-item img {
	padding: 50px;
}
.container-insertForm .item .sub-item li {
	margin: 45px;
	font-size: 1em;
}

.container-insertForm form {
	width: 70%;
}
.container-insertForm table {
	margin: 30px 0px;
	text-align: center;
	width: 50%;	
}


.container-insertForm table th {
	padding: 18px 0px;
	width: 30%;
	
}

.container-insertForm table input {
	align-content: center;
	width: 100%;
	border: 1px solid #aaa;
	text-align: center;
	height: 40px;
}


.container-insertForm table input::placeholder {
	 color: #5d8dbf;
    text-align:center;
}
.container-insertForm table textarea {
	width: 100%;
	height: 350px;
	padding: 18px 0px;
	border: 1px solid #aaa;
}

input#file-upload-button {
	width: 30px;
	height: 40px;
}
/* 유저영역 */
.u-u-body {
	display:flex;
	align-items: center;
	text-align: -webkit-center;
}
.u-u-body .u-u-item1 {
	width:30%;
	padding: 0px;
	text-align: -webkit-right;
}
.u-u-body .u-u-item1 a {
	border: 1px solid black;
	padding: 100px;
}

.u-u-body .u-u-item1 form {
	text-align: center;
	border: 1px solid black;
}


.u-u-body .u-u-item2 {
	width: 60%;
	text-align: center;
}

.u-u-body .u-u-item2 form {
	width: 60%;
	padding-top:55px;
}

.u-u-body .u-u-item2 td {
	height: 35px;
	width: 100px;
    text-align: center;
}

.u-u-body .u-u-item2 th {
	padding: 0px 50px;
}

.u-u-btn {
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
}
/* 공지사항 읽기 */
.container-readForm table {
	margin: 30px 0px;
	text-align: center;
	width: 100%;	
}

.container-readForm table th {
	padding: 18px 0px;
	
}

.container-readForm table input {
	width: 100%;
	padding: 18px 0px;
	border: 1px solid #aaa;
	text-align: center;
}

.container-insertForm table textarea {
	width: 100%;
	height: 350px;
	padding: 18px 0px;
	border: 1px solid #aaa;
}


.container-insertFt {
	display: flex;
	justify-content: flex-end;
}


.container-insertForm .container-insertFt input {
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
}

.container-insertForm .container-insertFt a {
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
	background-color: white;
}

.container-insertForm .container-insertFt input:hover{
	margin-top: 49px;
	width: 130px;
	height: 25px;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid #dce9f8;
	border-radius: 15px;
	background-color: white;
	cursor: pointer;
	
}
/* 로그인 영역 */
.login-wrap {
    width: 438px;
    height: 492px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    /* 정가운데 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-wrap p {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
/* 	background-color: black; */
}

/* head-text */
/* #head-text{ */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	height: 100px; */
/* } */


/* #login 중첩박스 */
#login {
    width: 100%;
    height: 100%;
    border: 1px solid #5d8dbf;
    border-radius: 20px;
}

/* 로고 */
#login .login-logo {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login .login-logo img {
    width: 139px;
    height: 100px;      /* 사이즈 조절 */
    object-fit: contain;   
}

/* 아이디/비밀번호 */
#login .login-inputbox {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

#login .login-inputbox input {
    width: 75%;
    height: 37px;
    padding-left: 5px;
    font-size: 1rem;
    border: 1px solid #5d8dbf;
    border-radius: 3px;
    box-sizing: border-box;
}
#login .login-inputbox input::placeholder {
    color: #5d8dbf;
    text-align:center;
}

.d-message {
	display:flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.d-message img {
	width: 20%;
	padding: 40px;
}
