@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '한국기계연구원_bold';
}

.toptext{
	color: #FFFFFF;
	font-size: 30px;
	
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; /* 가운데로 정렬합니다. */
    height: 900px;
	width: 984px;
    background-color: #4D8FC3;
}

.button {
    height: 450px;
	width: 300px;
	border-radius: 20px;
    font-size: 50px;
    margin: 30px;
    color: #FFFFFF;
    background-color: #4D8FC3;
    border: 2px solid #FFFFFF;
}

.button:active {
    background-color: #FFFFFF; /* 버튼이 눌렸을 때의 배경색을 변경합니다. */
    color: #4D8FC3
    
}


.certificatelinkButton {
	display: flex;
    justify-content: center; /* 가로로 중앙에 정렬합니다. */
    margin-top: auto; /* 나머지 공간을 자동으로 위에 마진으로 설정하여 버튼이 아래로 이동합니다. */
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 35px;
}

.score {
	background-color: #EFF2F4;
	margin: 30px;
	height: 420px;
	width: 300px;
	border-radius: 20px;
	outline: none;
	border: 2px solid #FFFFFF;	
	transition: opacity 0.3s ease; /* 투명도 변화에 대한 전환 효과 */
	
}

.score:active {
    background-color: #FFFFFF; /* 버튼이 눌렸을 때의 배경색을 변경합니다. */
    opacity: 0.5; /* 클릭시 투명도를 50%로 변경합니다. */    
}


.scoreimg {
	height: 295px;
	width: 295px;
}

.bottomtext {
	border-bottom: 300px;
	color: #FFFFFF;
	font-size: 30px;
}

.scoretext {
	font-size: 30px;
	
}
