.Container { 
	overflow:hidden;
}
.Container { 
	width:1024px;
	height:1440px;
	position:absolute;
}

@font-face{
	font-family: 'KIMM';
	src: url('../font/KIMM.ttf') format('truetype');
}

body{
	font-family: 'KIMM', sans-serif;
}

*{
	margin: 0;
	padding: 0;
}
/* ν—¤λ” */
header{
	width: 100%;
	height: 90px;
	background-color: white;
}

header .top{
	display: flex;
	justify-content: space-around;
	height: 90px;
}
header .top a{
	font-size: 3rem;
	color: #081012;
	margin: 0;
}
/* header .top .cog { display: inline-block; } */
#admin{
	margin-top: 10px;
/* 	display: inline-block; */
/* 	position: relative; */
}
header .top .cog #admin:hover{
/* 	transform-origin: 50% 50%; */
/* 	top : 25px; */
/* 	left: 23px; */
	animation: cogRotation 5s linear infinite;
}
@keyframes cogRotation{
	0% { transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

.search{
	width: 500px;
	text-align: center;
	margin: auto;
	position: relative;
	height: 80px;
	
}

.form-control{
	font-size: 2rem;
}

.searchbtn{
	border-radius: 30px 30px 30px 30px;
	font-size: 1rem;
	width: 4rem;
	height: 2rem;
	background-color: rgba(0, 81, 201, 0.33);
	border: thin;
	cursor: pointer;
	box-shadow: 0px 2px 2px 3px lightgray;
}

.Ntable{
	width: 100%;
}



.InnerContainer {
	color: black;
	border= 2px;
	background-color:rgba(255, 255, 255, 1);
	width:984px;
	height:840px;
	position:absolute;
	left:22px;
	top:177px;
		
}

.InnerHeader{
	background-color: lightblue;
	height: 40px;
	width: 984px;
	table-layout: fixed;
}

td{
	text-align: center;
	height: 80px;
}


.MainHome{
	width:44.625px;
	height:45px;
	position:absolute;
	left:500px;
	top:1047px;
	background-repeat:no-repeat;
	background-size:cover;
}


/* ν‘Έν„° */
footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 400px;
	
}
footer .underbar{
	display: flex;
	justify-content: space-around;
	height: 100px;
	background-color: white;
}
footer .underbar a{
	color: white;
	font-size: 3rem;
	text-align: center;
	margin: 20px 0 20px;
}
footer .underbar a img{
	width: 120px;
	height: 40px;
}
footer .banne{
	height: 300px;
	background-color: black;
}
footer .banner p{}



