.Container { 
	overflow:hidden;
}
.Container { 
	width:1024px;
	height:1440px;
	position:absolute;
}

.Header{
	background-color:rgba(77.00000301003456, 143.00000667572021, 195.0000035762787, 1);
	width:1024px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 0px 0px 20px 20px;
	font-size: 50px;
	text-align:center;
}

.searck{
	
}

.Notice_text{
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:50px;
	position:absolute;
	left:720px;
	top:100px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}

.InnerContainer {
	color: black;
	border= 2px;
	background-color:rgba(255, 255, 255, 1);
	width:984px;
	height:840px;
	position:absolute;
	left:22px;
	top:177px;	
}

.InnerHeader{
	background-color: lightblue;
	height: 70px;
}

td{
	text-align: center;
	height: 80px;
}



.MainHome{
	width:44.625px;
	height:45px;
	position:absolute;
	left:500px;
	top:1047px;
	background-repeat:no-repeat;
	background-size:cover;
}


.Footer{
	background-color:rgba(77.00000301003456, 143.00000667572021, 195.0000035762787, 1);
	width:1024px;
	height:300px;
	position:absolute;
	left:0px;
	top:1092px;
	border-radius: 20px 20px 0px 0px;
}



